/* You can add global styles to this file, and also import other style files */
.miidle-top {
    margin-top: 100px;
}

.border {
    border:1px solid red;
}

.white {
 background-color: white;
 color:black;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.black {
  background-color: #272B30;
  
  border: none;
  
}

.well-md {
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .padding-left{
    padding-left: 20px;
    padding-right: 2px;     
    
}
.btn {
    margin-bottom: 10px;
}

.control-label {
    padding-bottom: 0px;
    margin-bottom: 0;
}

.form-control{
    padding-bottom: 0;
    padding-top: 0;
}
}


