<div class="container">
<div class="col-md-8 col-md-offset-2"> 
<form class="form-horizontal" (submit)="onFindSubmit()">
  
  <fieldset>
      <h2 class="page-header text-center">PRETRAGA KLIJENATA</h2>
      
      <div class="form-group">
        <!-- <label for="firstname" class="col-sm-2 control-label text-left">Ime</label> -->
        <div class="col-sm-5 ">
          <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" 
          id="firstname" placeholder="Ime" autofocus>
        </div>
        <div class="col-sm-5">
          <ul class="nav nav-pills">
            <li ><a class="a-padding">Nadjeno Klijenata <span class="badge">{{count}}</span></a></li>
          </ul>
        </div>
       <div class="col-sm-2">
        <input type="submit" value="Trazi" size="50"
        class="btn btn-primary center-block search-box" >
   
      </div>     

      </div>
          
  </fieldset>
  
</form>
</div>
<div *ngIf="result">
  
<div *ngFor="let client of result" [@itemAnim]> 
   <h2 class="page-header col-md-8 col-md-offset-3" >{{client.firstname}} {{client.lastname}}</h2>
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin ">
        Polisa:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.policy.describe}}
      </div>
    </div>
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Vrednost:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.policy.value}}
      </div>
    </div>
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Dan uplate:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.policy.payday}}
      </div>
    </div>
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Upozorenje:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.policy.warning}}
      </div>
    </div>
      <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Preporuka:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.recommendation}}
      </div>
    </div>  
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Telefon:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.phone}}
      </div>
    </div>
    
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Grad:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.address.city}}
      </div>
    </div>
    
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Ulica:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.address.street}}
      </div>
    </div>
      
    <div class="col-md-8 col-md-offset-3"> 
      <div class="col-md-2 well well-sm black field-margin">
        Zabeleska:
      </div>
      <div class="col-md-6 well well-sm white field-margin">
         {{client.note}}
      </div>
    </div>
    <div class="col-md-12 "> 
      <!-- <div class="col-md-2 well well-sm black field-margin">
        id:
      </div>
       <div class="col-md-6 well well-sm hand white field-margin" (click)="onSelect(client)"
      data-toggle="tooltip" data-placement="top" title="Izmeni Klijenta"
      >
         {{client._id}}         
      </div>  -->
      <button id="delete"  class="btn btn-primary center-block btn-info btn-find" (click)=onSelect(client)>Uredi Klijenta</button>
    
    </div>
  
</div>
</div>
</div>
<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip() 
      }) 
  </script>
