<div class="container">
<form class="form-horizontal" (submit)="onRegisterSubmit()">
  <fieldset>
    <legend>Registracija</legend>
     <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-sm-offset-1 control-label">Name</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" id="inputName" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputUsername" class="col-sm-2 col-sm-offset-1 control-label text-left">Username</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" [(ngModel)]="username" name="username"class="form-control" id="inputUsername" placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-sm-offset-1 control-label ">Password</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="inputPassword" placeholder="Password">      
    </div>    
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-sm-offset-1 control-label">Email</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>   
  </fieldset>
  <div>
    <input type="submit" class="btn btn-primary center-block">
  </div>
  
</form>
</div>