
<div class="jumbotron text-center">
  <h1>GENERALI Životno Osiguranje</h1>
  <p class="lead">Baza podataka osiguranika</p> 
  <a class="btn btn-primary" [routerLink]="['/register']">Regstruj se</a>
  <a class="btn btn-primary" [routerLink]="['/login']">Loguj se</a>
</div>
<div class="middle-top">
  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Jedinstvena baza osiguranika</h3>
      <p>Sve na jednom mestu</p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Bezbednost podataka</h3>
      <p>Sigurnost zagarantovana</p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Maksimalna brzina odziva</h3>
      <p>Brzo i efikasno</p>
    </div>    
  </div>
</div>