
<div class="col-lg-8 col-lg-offset-2"> 
<form class="form-horizontal" (submit)="onAddSubmit()">
  
  <fieldset>
      <h2 class="page-header">DODAJ KLIJENTA</h2>
      
      <div class="form-group row">
        <label for="firstname" class="col-sm-2 control-label text-left">Ime</label>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" id="firstname" placeholder="Ime">
        </div>
      </div>
    <div class="form-group row">
      <label for="lastname" class="col-sm-2 control-label text-left">Prezime</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" id="lastname" placeholder="Prezime">
      </div>
    </div>
    <div class="form-group row">
      <label for="selectPolice" class="col-sm-2 control-label ">Polisa</label>
      <div class="col-sm-8">
        <!-- <input type="text" [(ngModel)]="describe" name="describe" class="form-control" id="describe" placeholder="Polisa"> -->
        <select class="form-control" [(ngModel)]="selectPolice" name="selectPolice">
          <option *ngFor="let item of selectOption" [ngValue]="item"
         [disabled]="item.value==0">{{item.label}}</option>
        </select>      
    </div>
    </div>

    <div class="form-group row padding-left">
      <label for="value" class="col-sm-2 control-label ">Vrednost</label>
      <div class="col-sm-8">
        <input type="number" [(ngModel)]="value" name="value" class="form-control" id="value" placeholder="Vrednost">      
    </div>
    </div>

    <div class="form-group row padding-left">
      <label for="idpolicy" class="col-sm-2 control-label ">Broj</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="idpolicy" name="idpolicy" class="form-control" id="idpolicy" placeholder="Broj Polise">      
    </div>
    </div>    
 
    <div class="form-group row padding-left">       
      <label for="startday" class="col-sm-2 control-label ">Početak</label>
      <div class="col-sm-2">
        <input type="number" [(ngModel)]="day" name="day"  maxlength="2" size="6" min="1" max="31" class="form-control" id="payday" placeholder="20">      
    </div>
      <div class="col-sm-2">
        <input type="number" [(ngModel)]="month" name="month" maxlength="2" size="6" min="1" max="12" class="form-control" id="payday" placeholder="09">      
    </div>
      <div class="col-sm-2">
        <input type="number" [(ngModel)]="year" name="year" maxlength="4" size="6" class="form-control" id="payday" placeholder="2017">      
    </div>
    </div>

    <div class="form-group row padding-left">
      <label for="duration" class="col-sm-2 control-label ">Trajanje</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="duration" name="duration" class="form-control" id="duration" placeholder="Broj Polise">      
    </div>
    </div> 
  
    <div class="form-group row padding-left">
      <label for="warning" class="col-sm-2 control-label ">Upozorenje</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="warning" name="warning" class="form-control" id="warning" placeholder="Upozorenje">      
    </div>
    </div>
    <div class="form-group row">
      <label for="additional" class="col-sm-2 control-label ">Dodatna</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="additional" name="additional" class="form-control" id="recommendation" placeholder="Dodatna Polisa">      
    </div>    
    </div>
  
    <div class="form-group row">
      <label for="note" class="col-sm-2 control-label ">Zabeleska</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="note" name="note" class="form-control" id="note" placeholder="Zabeleska">      
    </div>    
    </div>

    <div class="form-group row">
      <label for="recommendation" class="col-sm-2 control-label ">Preporuka</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="recommendation" name="recommendation" class="form-control" id="recommendation" placeholder="Preporuka">      
    </div>    
    </div>

   
    <div class="form-group row">
      <label for="phone" class="col-sm-2 control-label ">Telefon</label>
      <div class="col-sm-8">
        <input type="number" [(ngModel)]="phone" name="phone" class="form-control" id="phone" placeholder="Telefon">      
    </div>    
    </div>
    <div class="form-group row">
      <label for="street" class="col-sm-2 control-label ">Ulica</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="street" name="street" class="form-control" id="street" placeholder="Ulica">      
    </div>    
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-2 control-label ">Grad</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="city" name="city" class="form-control" id="city" placeholder="Grad">      
    </div>    
    </div>
    
  
    
            
  </fieldset>
  <div>
    <input type="submit" class="btn btn-primary center-block">
  </div>  
</form>
</div>
