.move-left {
    
    width: 100%;
    float:right;
}

.padding-left{
    padding-left: 110px;
    padding-right: 23px; 
     
    
}
@media (max-width: 768px){
    
     
  .padding-left{
    padding-left: 20px;
    padding-right: 2px; 
    }
    .label-padding {
      padding-left: 0px;
      padding-bottom: 0px;
    }

    

  .field-margin{
      margin-bottom:1px;    
    }
    .btn-find {
    margin-top: 20px; 
    }
  .col-sm-5 {
    margin-bottom: 10px;
    
  }
   
}



