.padding-left{
    padding-left: 110px;
    padding-right: 23px; 
     
    
}
@media (max-width: 768px){
    .padding-left{
    padding-left: 20px;
    padding-right: 2px;     
    
}
.btn {
    margin-bottom: 10px;
}

.control-label {
    padding-bottom: 0px;
    margin-bottom: 0;
}

.form-control{
    padding-bottom: 0;
    padding-top: 0;
}
}
