<div class="col-lg-8 col-lg-offset-2">
<form [formGroup]="updateForm" class="form-horizontal" 
 (submit)="onSubmit()" novalidate>
  <fieldset>
    <h2 class="page-header">PROMENI PODATKE</h2>
    <div *ngIf="result">  
    <div *ngFor="let client of result">
      <div class="form-group">
        <label  class="col-sm-2 control-label text-left">Ime</label>
        <div class="col-sm-8">
          <input class="form-control"  formControlName="firstname">          
        </div>
         <!--<div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
          Name is required
        </div>-->
       
      </div>

    <div class="form-group">
      <label for="lastname" class="col-sm-2 control-label text-left">Prezime</label>
      <div class="col-sm-8">      
        <input class="form-control" formControlName="lastname">
      </div>
    </div>
    <div class="form-group padding-left" formGroupName="policy">
      <label for="describe" class="col-sm-2 control-label ">Polisa</label>
      <div class="col-sm-8">
         <select class="form-control" formControlName="selectPolicy" name="selectPolicy">
          <option *ngFor="let item of selectOption" [value]="item.label"
         [disabled]="item.value==0"  required>{{item.label}}</option>
        </select>       
    </div>
    </div>

    <div class="form-group padding-left" formGroupName="policy">
      <label for="idpolicy" class="col-sm-2 control-label ">Broj</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="idpolicy">      
    </div>
    </div>

    <div class="form-group padding-left" formGroupName="policy">
      <label for="value" class="col-sm-2 control-label ">Vrednost</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="values">      
    </div>
    </div>

    <div class="form-group padding-left" formGroupName="policy">       
      <label for="startday" class="col-sm-2 control-label ">Početak</label>
      <div class="col-sm-2">
        <input type="number" formControlName="day"  maxlength="2" size="6" min="1" max="31" class="form-control" id="payday" placeholder="20">      
    </div>
      <div class="col-sm-2">
        <input type="number" formControlName="month" maxlength="2" size="6" min="1" max="12" class="form-control" id="payday" placeholder="09">      
    </div>
      <div class="col-sm-2">
        <input type="number" formControlName="year" maxlength="4" size="6" class="form-control" id="payday" placeholder="2017">      
    </div>
    </div>

    <div class="form-group padding-left" formGroupName="policy">
      <label for="duration" class="col-sm-2 control-label ">Trajanje</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="duration">      
    </div>
    </div>

    <div class="form-group padding-left" formGroupName="policy">
      <label for="warning" class="col-sm-2 control-label ">Upozorenje</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="warning">      
    </div>
    </div>

    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label ">Telefon</label>
      <div class="col-sm-8">
        <input formControlName="phone" class="form-control">      
      </div>    
    </div>

    <div class="form-group" formGroupName="address">
      <label for="street" class="col-sm-2 control-label ">Ulica</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="street">      
      </div>    
    </div>

    <div class="form-group" formGroupName="address">
      <label for="city" class="col-sm-2 control-label ">Grad</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="city">      
    </div>    
    </div>

    
    <div class="form-group">
      <label for="recommendation" class="col-sm-2 control-label ">Preporuka</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="recommendation">      
    </div>    
    </div>

    <div class="form-group">
      <label for="note" class="col-sm-2 control-label ">Zabeleska</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="note">      
        <input id="clientID" type="hidden" class="form-control" formControlName="id">      
        
    </div>    
    </div> 
    </div>
    </div>        
  </fieldset>
  <div> 
   
   <input type="submit" value="Promeni" class="btn btn-success center-block">
   
  </div> 
 
</form>
<br>
<button id="delete"  class="btn btn-primary center-block btn-danger" (click)=deleteClient()>Obrisi Korisnika</button>
 <!--<script>
  $(document).ready(function(){
    $('#delete').click( function(){
       alert("The paragraph was clicked.");
      // const id = $('#idClient').val()
      // console.log(id)   
  // $.ajax({
  //   type: 'DELETE',
  //   url:'/update/' + id,
  //   success: function(response){

  //   }
  // })
  })
  }) 
</script> -->
</div>
