
.borders {
  border-bottom:1px solid #cccccc;
  margin-bottom: 10px;
}
.border-left{
  border-left: 1px solid #cccccc;
}

.padding-lefts {
  padding: 0px;
}

h2 {
  cursor: pointer; 
  cursor: hand;
  text-align: left;
}

h4 {
  display: inline-block;
  cursor: pointer;
  margin-top:30px;
  
}

.label-padding{
  padding:11px;
  
}

.header-margin{
  margin:20px;
}

.page-header {
    border-bottom: 1px solid #cccccc;
}

.padding-left{
    padding-left: 100px;
    padding-right: 10px; 
  }
  .field-margin{
    margin-left:8px;
  }


@media (max-width: 768px){
    .padding-left{
    padding-left: 30px;
    padding-right: 2px; 
    }
    .label-padding {
      padding-left: 0px;
      padding-bottom: 0px;
    }
    .margin-tops {
      margin-top:5px;
      padding-left: 3px;
    }
  .field-margin{
      margin-bottom:1px;
      margin-left:0px;    
    }
    .btn-find {
    margin-top: 20px; 
    }
  .col-sm-5 {
    margin-bottom: 10px;
  }

  .border-left{
  border-left: 0px;
}
}

