<div *ngFor="let client of result"> 
  <h2 class="page-header col-lg-8 col-lg-offset-3" (click)="toggleState()">{{client.firstname}} {{client.lastname}}</h2>
  <div class="col-lg-12 " [@showing]="state" >     
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Polisa:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.policy.describe}}
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Vrednost:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.policy.value}}
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Dan uplate:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.policy.payday}}
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Upozorenje:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.policy.warning}}
      </div>
    </div>
      <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Preporuka:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.recommendation}}
      </div>
    </div>  
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Telefon:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.phone}}
      </div>
    </div>
    
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Grad:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.address.city}}
      </div>
    </div>
    
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Ulica:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.address.street}}
      </div>
    </div>
      
    <div class="col-lg-8 col-lg-offset-3"> 
      <div class="col-lg-2 well well-sm white">
        Zabeleska:
      </div>
      <div class="col-lg-6 well well-sm white">
         {{client.note}}
      </div>
    </div>
  </div>
</div>
 