<div class="container">
<div *ngIf="result" class="col-md-7 col-md-offset-2">
    
  <div *ngFor="let client of result, let i = index" >

    <div class= "row border-bottom row hand" (click)="clicked(clint,i)">
      <div class="row">
          <div class= "col-sm-6" >
              <h2 class="text-left">{{ client.firstname | capitalize }} {{client.lastname | capitalize}}</h2>
          </div>
          <div class= "col-sm-4 border-left" *ngIf=!client.show>
            <h4 class= "margin-tops"> {{client.policy.describe}}</h4>
          </div>
      </div>
    

    <div  [@clientState]="client.state || 'hide'">
        <div class="row">
        <div *ngIf=client.policy.describe>
            <label  for="policy" class="col-sm-2 col-sm-offset-1 col-sm-offset-1 control-label label-padding">Polisa</label>
            <div class="col-sm-8 well well-sm white field-margin" name="policy">
                {{client.policy.describe}}
            </div>
        </div>    
      </div>

      <div class="row">
        <div *ngIf=client.policy.value class="padding-left">
            <label  for="value" class="col-sm-2 col-sm-offset-1 control-label label-padding">Vrednost</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.policy.value}}
            </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf=client.policy.idpolicy class="padding-left">
            <label  for="idpolicy" class="col-sm-2 col-sm-offset-1 control-label label-padding">Broj</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.policy.idpolicy }}
            </div> 
        </div>
      </div>

      <div class="row">
        <div *ngIf=client.policy.startdate class="padding-left">
            <label  for="startday" class="col-sm-2 col-sm-offset-1 control-label label-padding">Pocetak</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.policy.startdate | date }}
            </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf=client.policy.duration class="padding-left">
            <label  for="duration" class="col-sm-2 col-sm-offset-1 control-label label-padding">Trajanje</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.policy.duration }}
            </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf=client.policy.duration class="padding-left">
            <label  for="duration" class="col-sm-2 col-sm-offset-1 control-label label-padding">Proteklo</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{ellapsedTime(client.policy.startdate) }}
            </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf=client.policy.warning class="padding-left"> 
            <label  for="warning" class="col-sm-2 col-sm-offset-1 control-label label-padding">Upozorenje</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.policy.warning}}
            </div>
        </div>
      </div>

      <div class="row">
         <div *ngIf=client.additional>
            <label  for="additional" class="col-sm-2 col-sm-offset-1 control-label label-padding">Dodatna:</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.additional}}
            </div>
        </div> 
      </div>
      
      <div class="row">          
         <div *ngIf=client.note>
            <label  for="note" class="col-sm-2 col-sm-offset-1 control-label label-padding">Zabeleska</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.note}}
            </div>
        </div>
      </div>
      
      <div class="row">
        <div *ngIf=client.recommendation>
            <label  for="recommendation" class="col-sm-2 col-sm-offset-1 control-label label-padding">Preporuka</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.recommendation}}
            </div>
        </div>
      </div>

      <div class="row">          
        <div *ngIf=client.phone>
            <label  for="phone" class="col-sm-2 col-sm-offset-1 control-label label-padding">Telefon</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.phone}}
            </div>
        </div>
      </div>
      
      <div class="row">          
        <div *ngIf=client.address>
            <label  for="city" class="col-sm-2 col-sm-offset-1 control-label label-padding">Grad</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.address.city}}
            </div>
        </div>
      </div>

      <div class="row">                    
        <div *ngIf=client.address>
            <label  class="col-sm-2 col-sm-offset-1 control-label label-padding">Ulica</label>
            <div class="col-sm-8 well well-sm white field-margin">
                {{client.address.street}}
            </div>
        </div>
      </div>
      
       

    </div>
    </div>
</div>
</div>
